<html>

<head>
  <title>Members</title>
  <% include ./partials/head %>
</head>

  <body id="body">

    <header id="header">
      <% include ./partials/header %>
    </header>

    <div id="content">

      <div class="after-form-container">
        <p id="displayed-as" class="after-form">
          <a id="forgotpwd" href="#" onclick="resetpwd()">Reset password</a>
        </p>
        <br>
        <p class="after-form">
          If you aren't comfortable with you display name you can <% include ./partials/changeDonorDisplayName %>
        </p>
      </div>

      <script>
        var element = document.getElementById('displayed-as')
        var innerHTML = "You are currently displayed as: " + Parse.User.current().attributes.donorDisplayName || Parse.User.current().attributes.firstname
        element.innerHTML = innerHTML
      </script>



      <% for (var key in memberLevels) { %>
        <% if (memberLevels.hasOwnProperty(key)) { %>

          <h2>
            <%= key %> members
          </h2>

          <% if (memberLevels[key].length === 0) { %>
            <div><%= "-" %></div>
          <% } %>

          <% for (i = 0; i < memberLevels[key].length; i ++) { %>
              <div><%= memberLevels[key][i] %></div>
          <% } %>

          <br>

        <% } %>
      <% } %>

    </div>

  </body>

</html>





      <!-- <% for (var key in memberLevels) { %>
        <% if (memberLevels.hasOwnProperty(key)) { %>
          <div class="form-container" style="padding-bottom:0px;">
            <form class="donation-form">
              <fieldset>

                <h2 class="level"><%= key %></h2>
                <% if (memberLevels[key].length === 0) { %>
                  <div class="donor-container-left"><%= "-" %></div>
                  <div style="width:10%;height:47px;float:left;"></div>
                  <div class="donor-container-right"><%= "-" %></div>
                <% } %>

                <% for (i = 0; i < Math.ceil(memberLevels[key].length/2)*2; i ++) { %>
                  <% if (i%2 === 0) { %>
                    <div class="donor-container-left"><%= memberLevels[key][i] %></div>
                    <div style="width:10%;height:47px;float:left;"></div>
                  <% } else { %>
                    <div class="donor-container-right"><%= memberLevels[key][i] || "-" %></div>
                  <% } %>
                <% } %>

              </fieldset>
            </form>
            <img class="gem" src= <%= "/public/images/gems/" + key + ".png" %> >
          </div>


        <% } %>
      <% } %> -->
